/* применение шрифта ко всей странице */
body {
    font-family: 'Inter', sans-serif;
    
}

h1, h2, h3, p {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}
h2 {
    font-size: 24px;
    font-weight: 500;
}
h3 {
    font-size: 20px;
    font-weight: 500;
} 

p {
    font-size: 16px;
    font-weight: 400;
} 

