
/* 2. Основные стили */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    padding: 20px;
    text-align: center;
    background: #b913e2;
    color: white;
}

.navbar {
    display: flex;
    background: #333;
    white-space: nowrap;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    background: #f1f1f1;
    padding: 20px;
}

.main {
    background: white;
    padding: 20px;
}

.main h2 {
    color: #333;
    transition: all 0.3s ease;
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
}


.main h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #b913e2;
    transform: scaleX(0); 
    transition: transform 0.3s ease;
}

.main h2:hover {
    color: #b913e2;
    transform: translateY(-2px); 
}

.main h2:hover::after {
    transform: scaleX(1); 
}



.img {
    background: #aaa;
    width: 100%;
    padding: 20px;
    background-image: url("../images/blog/картинка-1.jpg");
}


.img-right-margin {
    margin-bottom: 16px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #333;
    color: white;
}

/* 3. Адаптивность */
@media screen and (max-width: 480px) {
    .header {
        padding: 30px 10px;
    }

    .navbar {
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: auto;
    }

    .navbar a {
        padding: 8px;
        font-size: 12px;
    }

    .row {
        flex-direction: column;
    }

    .side,
    .main {
        width: 100%;
        flex: auto;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .side,
    .main {
        width: 100%;
        flex: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .row {
        flex-direction: row;
    }

    .side {
        flex: 30%;
    }

    .main {
        flex: 70%;
    }
}

@media screen and (min-width: 1025px) {
    .row {
        flex-direction: row;
    }

    .side {
        flex: 30%;
    }

    .main {
        flex: 70%;
    }
}