body {
  padding: 20px;
  background: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.back-btn {
  display: inline-block;
  margin-bottom: 30px;
  color: #2575fc;
  text-decoration: none;
}

/* grid сетка карточек */
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.salle {
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 24px;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #e00000;
  color: #ffffff;
  z-index: 10;
  transition: all 0.3s cubic-bezier(0.1, 0.9, 0.1, 1.2);
}

.img-cards {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 320px;
  transition: all 0.9s cubic-bezier(0.1, 0.9, 0.1, 1.2);
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 24px;
  gap: 16px;
  border-radius: 16px;
  box-shadow: 0 2px 25px #a8a8a813;
  transition: all 0.1s cubic-bezier(0.1, 0.9, 0.1, 1.2);
  
  &:hover {
    transform: scale(1.01);
    
    .salle {
      opacity: 1;
      transform: translateY(24px);
      z-index: 10;
    }
    
    .img-cards {
      transform: scale(1.04);
    }
  }
}

.text-cards {
  margin-bottom: 16px;
  height: 72px;
  
  h3 {
    color: #222222;
    margin-bottom: 4px;
  }
  
  p {
    color: #858585;
  }
}

.btn {
  text-align: center;
  background-color: #2575fc;
  padding: 12px;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.2s ease-out;
  
  &:hover {
    background-color: #2066df;
  }
  
  &:active {
    background-color: #fff;
    color: #2575fc;
    outline: 1px solid #2575fc;
    transform: scale(1.04);
  }
}

/* Адаптивность */
@media (max-width: 900px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .img-cards {
    height: 280px;
  }
}

@media (max-width: 600px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
  
  .img-cards {
    height: 240px;
  }
}
